<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBox: Author Details</title>
</head>

<body>
    <h3>{{ page_title }}</h3>
    <p>This page contains the bio and recipes of {{ selected_author.name }}:</p>
    <p>{{ selected_author.bio }}</p>
    <br>
    <ul>
        {% for recipe in author_recipes %}
        <li>
            <a href="/recipe/{{ recipe.id }}/">{{ recipe }}</a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>