<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBox: List of Recipes</title>
</head>

<body>
    <h1>{{ page_title }}</h1>
    <br>
    <button type="button">
        <a href="/signup/{{ signup_view }}">SIGNUP IF NOT A MEMBER YET</a>
    </button>
    <h3>Authentication Status: {{ request.user.is_authenticated }}</h3>
    <button type="button">
        <a href="/login/{{ login_view }}">LOGIN</a>
    </button>

    <ul>
        {% for recipe in recipes %}
        <li>
            <a href="/recipe/{{ recipe.id }}/">{{ recipe }}</a>
        </li>
        {% endfor %}
    </ul>

    <button type="button">
        <a href="/newrecipe/{{ add_recipe }}">ADD NEW RECIPE</a>
    </button>

    <button type="button">
        <a href="/newauthor/{{ add_author }}">ADD NEW AUTHOR</a>
    </button>
    <br>
    <br>
    <br>
    <button type="button">
        <a href="/logout/{{ logout_view }}">LOGOUT</a>
    </button>

</body>

</html>